/* tan color: #FDFDEB 
yellow button: #FDE46A
button font color: #834B1C
font-family: 'Roboto Slab', serif;
red: #C52D28
*/

body {
  background-color: #FDFDEB;
  text-align: center;
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-size: 1.5em;
  border: 3px solid #C52D28;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #834B1C;
  font-weight: bold;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #C52D28;
  background: #C52D28;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 72vw;
  text-align: center;
  transform: translate(20%, 19%);
}

.tabs {
  font-size: 2em;
  font-weight: bold;
  color: #FDE46A;
  background-color: #C52D28;
  width: 33vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.tabs:hover {
  height: 7vh;
  cursor: pointer;
  background-color: rgb(177, 13, 7);
}

.tab-bkg {
  background-color: rgb(177, 13, 7);
  height: 6vh;
}

.App {
  text-align: center;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.animal {
  font-size: 2em;
  color: #834B1C;
  display: flex;
  background-color: #FDE46A;
  justify-content: space-between;
  width: 70vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px;
  cursor: pointer;
}

.prices {
  display: inline;
  margin: 0;
}

.price-list  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.none {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #FDFDEB;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 75%;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  .App { 
    font-size: .6em;
  }

  .animal {
    overflow: scroll;
  }
}