/* tan color: #FDFDEB 
yellow button: #FDE46A
button font color: #834B1C
font-family: 'Roboto Slab', serif;
red: #C52D28
*/
body {
  background-color: #FDFDEB;
  text-align: center;
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

input {
  width: 55vw;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

.tabs {
  font-size: 2em;
  font-weight: bold;
  color: #FDE46A;
  background-color: #C52D28;
  width: 33vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.tabs:hover {
  height: 6vh;
  cursor: pointer;
  background-color: rgb(177, 13, 7);
}

.tab-bkg {
  background-color: rgb(177, 13, 7);
  height: 6vh;
}

.App {
  text-align: center;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.animal {
  font-size: 2em;
  color: #834B1C;
  display: flex;
  background-color: #FDE46A;
  justify-content: space-between;
  width: 70vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px;
  overflow: scroll;
  cursor: default;
}

.prices {
  display: inline;
  margin: 0;
}

.price-list  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

@media only screen and (max-width: 500px) {
  .App { 
    font-size: .6em;
  }
}